<h1><%= @post.title %></h1>

<p><%= @post.body %></p>
<p><%= pluralize(@comments.count, 'Comment') %></p>
<% @comments.each do |comment|  %>
  <p><%= comment.message %></p>
  <p><%= comment.name %></p>
<% end %>

<%= form_for :comment, @comment, :url => post_comments_path(@post, @comment) do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :message, "Message" %>
  <%= f.text_area :message %>
  <%= f.submit "Add Comment" %>
  
<% end %>